resources/config.xsd

<!-- Add XML Schema (XSD) Data -->
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="Config">
        <complexType>
            <sequence>
                <element name="debugDir" type="string" />
                <element name="testDir" type="string" />
                <element name="debugEnabled" type="string" />

                <element name="datasetConfig">
                    <complexType>
                        <sequence>
                            <element name="datasetPath" type="string" />
                        </sequence>
                    </complexType>
                </element>
                <element name="preprocessConfig">
                    <complexType>
                        <sequence>
                            <element name="removeStopwords" type="boolean" />
                            <element name="stemmerEnabled" type="boolean" />
                            <element name="stopwordsPath" type="string" />
                        </sequence>
                    </complexType>
                </element>
                <element name="vocabularyConfig">
                    <complexType>
                        <sequence>
                            <element name="vocabularyPath" type="string" />
                            <element name="partialVocabularyDir" type="string" />
                            <element name="compressionEnabled" type="boolean" />
                            <element name="blockDescriptorsPath" type="string" />
                        </sequence>
                    </complexType>
                </element>
                <element name="invertedIndexConfig">
                    <complexType>
                        <sequence>
                            <element name="blockDescriptorPath" type="string" />
                            <element name="documentIndexPath" type="string" />
                            <element name="invertedIndexFreqs" type="string" />
                            <element name="invertedIndexDocs" type="string" />
                            <element name="partialInvertedFrequenciesPath" type="string" />
                            <element name="partialInvertedIndexDocumentsPath" type="string" />
                        </sequence>
                    </complexType>
                </element>
                <element name="scorerConfig">
                    <complexType>
                        <sequence>
                            <element name="maxScoreEnabled" type="boolean" />
                        </sequence>
                    </complexType>
                </element>
                <element name="collectionConfig">
                    <complexType>
                        <sequence>
                            <element name="rawCollectionPath" type="string" />
                            <element name="compressedCollectionPath" type="string" />
                            <element name="collectionStatisticsPath" type="string" />
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>