resources/config.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="Config">
        <complexType>
            <sequence>
                <element type="boolean" name="removeStopwords"/>
                <element type="boolean" name="maxScoreEnabled"/>
                <element type="string" name="datasetPath"/>

                <element type="string" name="compressedCollectionPath"/>
                <element type="string" name="stopwordsPath"/>
                <element type="string" name="vocabularyPath"/>
                <element type="string" name="invertedIndexDocs"/>
                <element type="string" name="invertedIndexFreqs"/>
                <element type="string" name="partialVocabularyDir"/>
                <element type="string" name="frequencyDir"/>
                <element type="string" name="docIdsDir"/>
                <element type="string" name="collectionStatisticsPath"/>
                <element type="string" name="blockDescriptorsPath"/>
                <element type="string" name="flagsFilePath"/>
                <element type="string" name="testDir"/>

                <element type="string" name="rawCollectionPath"/>
                <element type="string" name="documentIndexPath"/>
                <element type="string" name="frequencyFileName"/>
                <element type="string" name="vocabularyFileName"/>
                <element type="string" name="docIdsFileName"/>
                <element type="boolean" name="compressionEnabled"/>
                <element type="string" name="debugDir"/>
            </sequence>
        </complexType>
    </element>
</schema>